<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="202310_mapping_kit">
  <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
  <xacro:include filename="$(find realsense2_description)/urdf/_d455.urdf.xacro"/>
  <link name="base_link"/>
  <xacro:VLP-16 parent="base_link" name="velodyne">
    <origin xyz="0 0 0.5" rpy="0 0 0"/>
  </xacro:VLP-16>
  <xacro:sensor_d455 parent="velodyne">
    <origin xyz="-0.015 0 0.05" rpy="0 -1.571 3.14"/>
  </xacro:sensor_d455>
</robot>
